<!DOCTYPE html>
<html>
<head>
  <title>Anonpad - Share text and code anonymous</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.8/ace.js" %>
  <%= favicon_link_tag '/favicon.gif',type: "image/gif" %>
</head>
<body>

<%= yield %>

</body>
</html>
